<html>
<head>
<style  type="text/css">
h1{
height:100px; 
width:100%; 
background-color:green;
color:white; 
text-align:center;
}

</style>

</header>
<body>
<h1>

Welcome to Hospital Shagar


</h1>



</body>



</html>